body {
  margin: 0;
  padding: 0;
  background-color: #878787;
}

.images{
    box-shadow: #333 0px 4px 8px;
    
}
.feature-box {
  display: flex;
  align-items: center;            
  justify-content: space-between; 
  background-color: rgba(243, 241, 226);
  flex-wrap: wrap;              
  width:100%;
  height:30%;
  margin-top: 60px;
}

.feature-text {
  flex: 1 1 300px;  
  padding:40px;   
  box-shadow: #333 0px 4px 8px; 
  margin: 20px;
  border-radius: 12px;
  background-color: rgba(0, 76, 255, 0.15);
}

.feature-tagline {
    font-size: 20px;
  margin: 0;
  font-size: 1.5rem;
  color: rgba(206, 93, 55);
  font-family: 'Baloo 2', cursive;
}

.feature-description {
    font-size: 40px;
  margin-top: 10px;
  color: #555;
  line-height: 1.4;
}

.feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
  flex: 1 1 300px;   
  padding:30px 50px; 
}

.feature-image img {
  width: 100%;                  /* image fills container */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.mission-section {
  padding: 100px 30px;
  text-align: center;
  background-color: rgba(233, 207, 96);
  color: rgba(206, 93, 55);
  font-family: 'Baloo 2', cursive;
}
.mission-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}
.mission-section p {
  font-size: 1.2rem;
  color: rgba(206, 93, 55);
  font-family: 'Baloo 2', cursive;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.footer-section {
    text-align: center;
    padding: 20px;
    background-color: #878787;
    color: #fff;
    
} 


