body {
  margin: 0;
  padding: 0;
}
.images{
    box-shadow: #333 0px 4px 8px;
    
}
.feature-box {
  display: flex;
  align-items: center;            
  justify-content: space-between; 
  background-color: #878787;     
  flex-wrap: wrap;              
  width:100%;
  height:30%;
}

.feature-text {
  flex: 1 1 300px;  
  padding:40px;   
  box-shadow: #333 0px 4px 8px; 
  margin: 20px;
}

.feature-tagline {
    font-size: 20px;
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.feature-description {
    font-size: 40px;
  margin-top: 10px;
  color: #555;
  line-height: 1.4;
}

.feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
  flex: 1 1 300px;   
  padding:30px 50px; 
}

.feature-image img {
  width: 100%;                  /* image fills container */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.mission-section {
  padding: 100px 30px;
  text-align: center;
  background-color: #d4d4d4;
}
.mission-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}
.mission-section p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}
.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 100px 30px;
    background-color: #ffffff;

}
.about-text {
    flex: 1 1 300px;  
    padding:40px 40px;             /* grows, shrinks, min width 300px */
}   
.about-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
  padding:30px;
}
.about-section p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}
.about-image {
     display: flex;
    justify-content: center;
    align-items: center;
  flex: 1 1 300px;   
  padding:30px 50px; 
}
.about-image img {
    
   width:100%;         /* image fills container */
  height: auto;
  border-radius: 8px;
  object-fit: cover;

}
.footer-section {
    text-align: center;
    padding: 20px;
    background-color: #878787;
    color: #fff;
} 


