
.navbar-container {
  display: flex;
  justify-content: flex-start;   /* logo on left */
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 76, 255, 0.15);
   backdrop-filter: blur(8px);
  width: 100%;                   /* take full width */
  box-sizing: border-box;        /* include padding in width */   
  position: fixed;
  top: 0;
}

.navbar-container .navbar {
  display: flex;
  margin-left: auto;             /* push links to the right */
  gap: 30px;                     /* space between links */
        
}

.navbar-container .links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #959595;
  transition: background 0.2 s, color 0.2s;
  border-bottom: transparent 2px solid;
}

.navbar-container .links:hover {
  cursor: pointer;
  color: #333;
  border-bottom: #333 2px solid;
}

.logo {
  height: 40px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  border-radius: 50%;
}
