body {
  margin: 0;
  padding: 0 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;   /* push links to the right */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent */
  padding: 10px 20px;
  gap: 20px;                   /* space between links automatically adjusts */
  flex-wrap: wrap;             /* wrap on small screens */
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #959595;
  transition: background 0.2s, color 0.2s;
}

.links:hover {
  cursor: pointer;
  color: #333;
  border-bottom: #333 2px solid;
}
